In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name":['a','b','c','d'],
    "Enroll":[2,5,7,10],
    "subject":['ADA','DS','AI','ML']    
}

In [4]:
df = pd.DataFrame(dict1)

In [6]:
df

  name  Enroll subject
0    a       2     ADA
1    b       5      DS
2    c       7      AI
3    d      10      ML

In [8]:
df.to_csv('first.csv')